*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #c1d6d5;
}
/* header-section */


.header-item{

height: 100px;
display: flex;
justify-content: space-between;
padding: 24px 160px 24px 160px;


}
.header-item-1{
font-size: 32px;
font-weight: 700;
padding-left: 24px;
}
.header-item-2{
color: rgb(0, 106, 80) ;
font-size: 18px;
font-weight: 600;
padding: 15px 30px 15px 30px;
border: 1px solid rgb(0, 106, 80);
border-radius: 10px;
background-color: #c1d6d5;;
}
/*  hero section */
.hero-area{
  background-color: rgb(198, 228, 214);
  border-radius: 28px;
width: 1170px;
height: 560px;
margin: 0 auto;
display: flex;



}
.hero-content{
margin-top: 200px;
margin-left: 50px;
}
.hero-content-mini{
width: 622px;
height: 29px;
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.hero-heading{
width: 622px;
height: 201px;

font-size: 56px;
font-weight: 700;
line-height: 67px;
}
.hero-area-img{
margin-top: 100px;
}
.hero-button{
width: 270px;
height: 56px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
font-size: large;
color: white;
margin-top: 24px;


}
.pillars-heading{
width: 1280px;
height: 48px;
font-size: 40px;
font-weight: 700;
line-height: 48px;
margin-top: 80px;
margin-left: 180px;
}
.pillars-bd-section{
 display: flex;
width: 1100px;
height: 250px;
margin-left: 160px;
margin-top: 30px;
}
.pillar-div{
border-radius: 18px;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
margin: 0px 20px; 
width: 262px;
height: 244px;

}
.pillar-img{
 margin-top: 10px;
 margin-left: 10px;
}
.pillar-heading{
width: 254px;
height: 24px;
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-top: 20px;
}
.pillar-content{

width: 240px;
height: 72px;
margin-top: 15px;
}
/* vision Section style */

.vision-heading-1{
margin-bottom: 20px;
margin-top: 70px;
font-size: 40px;
font-weight: 700;
margin-left: 180px;
}
.vision-content-2{
  width: 1100px;
margin-top: 20px;
margin-left: 180px;
font-size: 16px;
font-weight: 400;
}
.vision-section{
width: 1170px;
height: 325px;
margin-left: 180px;
display: flex;
margin-top: 50px;
}
.vision-div{
width: 380px;
height: 325px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
box-sizing: border-box;
border-radius: 16px;
margin-right: 20px;
}
.vision-img{
width: 62px;
height: 62px;
margin-top: 40px;
margin-left: 40px;
}
.vision-heading{
width: 346.67px;
height: 24px;
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-top: 20px;
margin-left: 40px;
}
.vision-content{
font-size: 16px;
font-weight: 400;
margin-top: 20px;
margin-left: 40px;
margin-right: 30px;

}
.vision-button{
width: 122px;
height: 41px;
border-radius: 8px;
background: rgb(84, 144, 245);
margin-left: 40px;
margin-top: 30px;
}
.bg-color-1{
 background-color: rgba(84, 144, 245, 0.2);
}
.bg-color-2{
 background-color: rgb(198, 228, 214);
}
.bg-color-3{
background-color: rgb(247, 235, 207);
}
.btn-1{
background-color:rgb(84, 144, 245) ;
}
.btn-2{
background-color:rgb(9, 161, 92) ;
}
.btn-3{
background-color:rgb(255, 194, 57);
}


/* Dr Yunus section */

.dr-yunus-section{
width: 1170px;
height: 220px;
margin-left: 180px;
margin-top: 32px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: top 20px left 18px;
}
.dr-yunus-section-content{
margin-top: 48px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-left: 20px;
margin-right: 45px;
}
.dr-yunus-section-name{
font-size: 20px;
font-weight: 600;
line-height: 24px;
margin-top: 12px;
margin-left: 20px;
}
.dr-yunus-section-content-2{
  margin-top: 4px;
margin-left: 20px;
color: rgba(14, 14, 14, 0.6);
}

/* opinion section */
.opinion-head-text{
  height: 48px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-left: 180px;
  margin-top: 80px;
}

.opinion-section{
width: 1170px;
height: 409px;
margin-left: 180px;
text-align: center;
margin-top: 50px;


}
.opinion-header{
display: flex;
justify-content: space-between;
background-color: rgb(198, 228, 214);
width: 1106px;
height: 72px;
margin-left: 15px;
border: 1px solid darkgrey;

}
.header-left{
width: 92px;
height: 24px;
font-size: 20px;
font-weight: 600;
line-height: 24px;
margin-top: 22px;
margin-left: 20px;

}
.header-right{
width: 180px;
height: 24px;
font-size: 20px;
font-weight: 600;
line-height: 24px;
margin-top: 22px;
margin-left: 20px;
margin-right: 20px;

}
.p-inline{
  width: 1017px;
height: 92px;
  display: flex;
  width: 622px;
height: 19px;
margin-left: 10px;
margin-top: 38px;

}
.opinion-header-1{
background-color: white;
display: flex;
justify-content: space-between;
width: 1106px;
height: 92px;
margin-left: 15px;
border: 1px solid darkgrey;
}
.button{

font-size: 20px;
font-weight: 600;
margin-top: 25px;
margin-left: 20px;
margin-right: 20px;
width: 152px;
height: 44px;
background-color: rgb(198, 228, 214);
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;
box-sizing: border-box;
}






